{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block title %}
    {{ 'Dashboard' | trans() }}
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block content_header %}
    <div class="row">
        <div class="col-sm-5">
            {% block content_title_wrapper %}
                <h1 class="title">Dashboard</h1>
            {% endblock %}
        </div>

        <div class="col-sm-7">
            <div class="global-actions">
                
            </div>
        </div>
    </div>
{% endblock content_header %}

{% block main %}


{% endblock %}